[includeIf "gitdir:~/"]
    path = ~/.gitconfig.local
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = tihonov.ea@gmail.com
	name = Eugene Tihonov
[core]
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[merge]
    ff = no
[alias]
	tree = log --graph --oneline --decorate
[pull]
	rebase = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
