[submodule ".tmux_plugins/catppuccin"]
	path = .tmux_plugins/catppuccin
	url = https://github.com/catppuccin/tmux.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".config/yazi/plugins/command-palette-2.yazi"]
	path = .config/yazi/plugins/command-palette-2.yazi
	url = git@github.com:tihonove/command-palette-2.yazi.git
